<ngb-carousel>
  <ng-template ngbSlide>
    <img class="img-thumbnail" [src]="h1" alt="Random first slide" style="height: 400px; width:100%;">
    <div class="carousel-caption">
      <h3>...Legacy...</h3>
    </div>
  </ng-template>
    <ng-template ngbSlide>
    <img class="img-thumbnail" [src]="h2" alt="Random first slide" style="height: 400px; width:100%;">
    <div class="carousel-caption">
      <h3>...Legacy...</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="img-thumbnail" [src]="h3" alt="Random first slide" style="height: 400px; width:100%;">
    <div class="carousel-caption">
      <h3>...Legacy...</h3>
    </div>
  </ng-template>
</ngb-carousel>