<br>
<br>
<div class="col-md-12"><h4 class="sub-title">General Skills</h4></div>
<br>
<div class="row">
    <div class="col-md-4">
        <p>Server Management</p>
        <p><ngb-progressbar value="75"></ngb-progressbar></p>
    </div>
    <div class="col-md-4">
        <p>Amazon Web Service</p>
        <p><ngb-progressbar value="60"></ngb-progressbar></p>
    </div>
    <div class="col-md-4">
        <p>Back-end Programming</p>
        <p><ngb-progressbar value="85"></ngb-progressbar></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p>Database Management</p>
        <p><ngb-progressbar value="70"></ngb-progressbar></p>
    </div>
    <div class="col-md-4">
        <p>Information Security</p>
        <p><ngb-progressbar value="70"></ngb-progressbar></p>
    </div>
    <div class="col-md-4">
        <p>MVC Design Pattern</p>
        <p><ngb-progressbar value="80"></ngb-progressbar></p>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-12"><h4 class="sub-title" style="text-align: center">Languages</h4></div>
</div>
<br>
<div class="row">
    <div class="col-md-4">
        <p>Java (JSP &amp; Servelet)</p>
        <p><ngb-progressbar value="80"></ngb-progressbar></p>
    </div>
    <div class="col-md-4">
        <p>J-Query</p>
        <p><ngb-progressbar value="85"></ngb-progressbar></p>
    </div>
    <div class="col-md-4">
        <p>Angular2</p>
        <p><ngb-progressbar value="50"></ngb-progressbar></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p>HTML &amp; CSS (Bootstrap)</p>
        <p><ngb-progressbar value="85"></ngb-progressbar></p>
    </div>
    <div class="col-md-4">
        <p>SQL &amp; PL-SQL</p>
        <p><ngb-progressbar value="80"></ngb-progressbar></p>
    </div>
    <div class="col-md-4">        
    </div>
</div>