<ngb-carousel>
  <ng-template ngbSlide>
    <img class="img-thumbnail" [src]="h4" alt="Random first slide" style="height: 400px; width:100%;">
    <div class="carousel-caption">
      <h3>...Beat...</h3>
    </div>
  </ng-template>
    <ng-template ngbSlide>
    <img class="img-thumbnail" [src]="h5" alt="Random first slide" style="height: 400px; width:100%;">
    <div class="carousel-caption">
      <h3>...Beat...</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="img-thumbnail" [src]="h6" alt="Random first slide" style="height: 400px; width:100%;">
    <div class="carousel-caption">
      <h3>...Beat...</h3>
    </div>
  </ng-template>
</ngb-carousel>